.chapter_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 50px;
    background-color: #f1f1f1;
    background-image: url('../../../public/imgs/Picsart_24-11-19_15-11-11-241.png');
    background-position: left bottom;
    background-size: 40vh;
    background-repeat: no-repeat;
    height: 92.5vh;
    color: black;
}

.text_div {
    margin-top: 12.5vh;
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-align: center;
    align-items: center;

    h3 {
        font-size: 0.80em;
    }
}

.title_h1 {
    display: flex;
    flex-direction: column;
    font-size: 2em;
}

.list_ul {
    padding: 0;
    font-family: LemonMilk_light;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    text-align: start;
    list-style: none;

    li {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 5px;

        p {
            font-size: 1.10em;
        }

        
    }
}